body {
  background-color: #017AC6;
}

.jumbotron {
  background-color: #AE083B;
  color: white;
  font-family: 'Playfair Display', serif;
  font-family: 'Cardo', serif;
}

#prez-seal {
  max-width: 85%;
}

button {
  display: block;
  margin: auto;
  background-color: #017AC6;
  color: white;
}

.blockButton {
  display: block;
  margin: auto;
}

.moveOnButtons {
  display: none;
}

#moveon1Button {
  display: none;
}

#moveon2Button {
  display: none;
}

#moveon3Button {
  display: none;
}

#moveon4Button {
  display: none;
}

#moveon5Button {
  display: none;
}

#moveon6Button {
  display: none;
}

#moveon7Button {
  display: none;
}

#moveon8Button {
  display: none;
}

#moveon9Button {
  display: none;
}

#moveon10Button {
  display: none;
}

#status {
  display: none;
  color: black;
  border: none;
  margin-top: 1.5%;
}

#status .panel-heading, #status .panel-footer {
  background-color: #AE083B;
  color: white;
  font-family: 'Playfair Display', serif;
  font-family: 'Cardo', serif;
  text-align: center;
  max-width: auto;
}

.scoreBox {
  /*display: block;*/
  text-align: center;
  padding-top: 25%;
  /*border: 1px solid black;*/
}

#repScore {
  margin-left: 6%;
  font-family: times new roman;
}

#fundScore {
  margin-right: 6%;
  font-family: times new roman;
}

.scoreNumber {
  text-align: center;
  font-size: 75px;
}

#image-center {
  display: block;
  margin: auto;
  max-width: 100%;
}

.img-column {
  /*border: 1px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.decision {
  display: none;
}

.decision h2 {
  text-align: center;
}

.question {
  font-style: italic;
}

#outcome h2 {
  text-align: center;
  margin-top: 0;
}

#win {
  display: none;
}

#lose {
  display: none;
}

#campaignBroke {
  display: none;
}

.explanation {
  display: none;
  font-size: 20px;
}
