body {
  background-color: #017AC6;
}

.jumbotron {
  background-color: #AE083B;
  color: white;
  font-family: 'Playfair Display', serif;
  font-family: 'Cardo', serif;
}

#prez-seal {
  max-width: 85%;
}

button {
  display: block;
  margin: auto;
  background-color: #017AC6;
  color: white;
}

#status {
  display: none;
  color: black;
  border: none;
  margin-top: 1.5%;
}

.flag-image {
  max-width: 100%;
}


#status .panel-heading, #status .panel-footer {
  background-color: #AE083B;
  color: white;
  font-family: 'Playfair Display', serif;
  font-family: 'Cardo', serif;
  text-align: center;
}

.scoreBox {
  margin: auto;
  max-width: 90%;
  text-align: center;
  border: 1px solid black;
}

.scoreNumber {
  font-size: 100px;
  text-align: center;
}

#image-center {
  display: block;
  margin: auto;
}

.decision {
  display: none;
}

.decision h2 {
  text-align: center;
}

.question {
  font-style: italic;
}

#outcome h2 {
  text-align: center;
  margin-top: 0;
}
#win {
  display: none;
}
#lose {
  display: none;
}
.explanation {
  display: none;
  font-size: 20px;
}

#moveon1Button {
  display: none;
}
#moveon2Button {
  display: none;
}
#moveon3Button {
  display: none;
}
